.navBar {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  width: 680px;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.returnBtnWrapper {
  width: 40px;
  height: 40px;
  border: none;
  background: #fbe0dc;
  border-radius: 10px;
  margin-right: 10px;
}
.returnBtnImg {
  width: 20px;
  height: 20px;
}
.navBarText {
  padding: 5px 30px;
  background: #ff868e;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  height: 40px;
}

.limitSelect {
  width: 100px;
  height: 40px;
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  outline: none;
  background: #f8f8f7;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.imgWrapper {
  height: 100%;
}
.breedsGallery {
  gap: 20px;
  counter-reset: li;
  display: grid;
  grid-auto-rows: 140px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
  position: relative;
  min-height: 600px;
}
.item {
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
}
.item:hover {
  transform: scale(1.07);
}
.item:hover > .selectedBreedText {
  display: flex;
}
.BreedsGalleryImg {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: right;
  width: 100%;
}
.item:nth-child(1) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(4) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item:nth-child(8) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(9) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item:nth-child(11) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(14) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item:nth-child(18) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(19) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.list {
  height: 100%;
}

.item:hover > .list::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 134, 142, 0.6),
    rgba(255, 134, 142, 0.6)
  );
}
.item:hover > .imgWrapper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 134, 142, 0.6),
    rgba(255, 134, 142, 0.6)
  );
}
.searchInpute {
  width: 310px;
  height: 40px;
  margin-left: 20px;
  background: #f8f8f7;
  border-radius: 10px;
  outline-color: #ff868e;
  border: none;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.formWrapper {
  display: flex;
}
.form {
  position: relative;
}
.searchInnerBtnWrapper {
  width: 30px;
  height: 30px;
  position: absolute;
  border: none;
  background: #fbe0dc;
  border-radius: 10px;
  top: 12%;
  right: 5%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchInnerBtn {
  width: 15px;
  height: 15px;
}
.selectedBreedText {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  background: #ffffff;
  border-radius: 10px;
  font-family: 'Jost';
  font-size: 16px;
  line-height: 24px;
  color: #ff868e;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  z-index: 2;
}
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
