/* sectins styles */
.historyBarWrapper {
  display: flex;
}

/* Return button styles */
.returnBtnWrapper {
  width: 40px;
  height: 40px;
  border: none;
  background: var(--second-pink-color);
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px var(--box-shadow);
  cursor: pointer;
  transition: background 0.5;
}
.returnBtnWrapper:hover {
  background: var(--main-pink-color);
}
.returnBtnWrapper:hover > .returnBtnImg {
  fill: var(--main-white-color);
}
.returnBtnImg {
  width: 20px;
  height: 20px;
  fill: var(--main-pink-color);
  transition: fill 0.5s;
}

/* Location text styles */
.navBarText {
  height: 40px;
  padding: 5px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-pink-color);
  border-radius: 10px;
  box-shadow: 0px 4px 4px var(--box-shadow);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  color: var(--main-white-color);
}
