.historyBarWrapper {
  display: flex;
}
.returnBtnWrapper {
  width: 40px;
  height: 40px;
  border: none;
  background: #fbe0dc;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background 0.5;
}
.returnBtnWrapper:hover {
  background: #ff868e;
}
.returnBtnWrapper:hover > .returnBtnImg {
  fill: #ffffff;
}
.returnBtnImg {
  width: 20px;
  height: 20px;
  fill: #ff868e;
  transition: fill 0.5s;
}
.navBarText {
  height: 40px;
  padding: 5px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff868e;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}
