/* Section styles */
.navBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var(--main-white-color);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  padding-bottom: 60px;
}
.navBarWrapper {
  display: flex;
  justify-content: space-between;
  background: var(--main-white-color);
  border-radius: 10px;
}

/* Image styles */
.imageWrapper {
  width: 100%;
  height: 360px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.randomCat {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Voting panel styles */
.votingPanel {
  width: 256px;
  height: 80px;
  border: 4px solid var(--main-white-color);
  background-color: var(--main-white-color);
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 4px var(--box-shadow);
}
.votingPanelIconImg {
  fill: var(--main-white-color);
}
.votingPanelIconImg {
  width: 30px;
  height: 30px;
}

/* Like buuton styles */
.likeBtn {
  width: 80px;
  height: 80px;
  background: var(--breeds-link-bcg);
  border: none;
  margin-right: 4px;
}
.likeBtn:hover {
  background: var(--secong-bcg-green-color);
}
.likeBtn:hover > .votingPanelIconImg {
  fill: var(--breeds-link-bcg);
}

/* Dislike buuton styles */
.dislikeBtn {
  width: 80px;
  height: 80px;
  background: var(--gallery-link-bcg);
  border: none;
}
.dislikeBtn:hover {
  background: var(--secong-bcg-yellow-color);
}
.dislikeBtn:hover > .votingPanelIconImg {
  fill: var(--gallery-link-bcg);
}

/* Favourites buuton styles */
.favouritesBtn {
  width: 80px;
  height: 80px;
  background: var(--main-pink-color);
  border: none;
  margin-right: 4px;
}
.favouritesBtn:hover {
  background: var(--secong-bcg-pink-color);
}
.favouritesBtn:hover > .votingPanelIconImg {
  fill: var(--main-pink-color);
}

/* Loader styles */
.loaderWrapper {
  width: 100%;
  height: 360px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
