.navBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  padding-bottom: 60px;
}
.navBarWrapper {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 10px;
}
.imageWrapper {
  width: 100%;
  height: 360px;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}
.randomCat {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}
.votingPanel {
  width: 256px;
  height: 80px;
  border: 4px solid #ffffff;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.likeBtn {
  width: 80px;
  height: 80px;
  background: #97eab9;
  border: none;
  margin-right: 4px;
}
.votingPanelIconImg {
  fill: #fff;
}
.likeBtn:hover {
  background: rgba(151, 234, 185, 0.3);
}
.likeBtn:hover > .votingPanelIconImg {
  fill: #97eab9;
}

.dislikeBtn:hover {
  background: rgba(255, 210, 128, 0.3);
}
.dislikeBtn:hover > .votingPanelIconImg {
  fill: #ffd280;
}
.favouritesBtn:hover {
  background: rgba(255, 134, 142, 0.3);
}
.favouritesBtn:hover > .votingPanelIconImg {
  fill: #ff868e;
}
.favouritesBtn {
  width: 80px;
  height: 80px;
  background: #ff868e;
  border: none;
  margin-right: 4px;
}
.dislikeBtn {
  width: 80px;
  height: 80px;
  background: #ffd280;
  border: none;
}
.votingPanelIconImg {
  width: 30px;
  height: 30px;
}
