.hero {
  display: flex;
}
.leftSide {
  height: 100vh;
  width: 50%;
  padding-top: 37px;
  padding-left: 63px;
  position: static;
}
.rightSide {
  height: 100vh;
  width: 50%;
}
.wrapper {
  position: fixed;
}
