.navBar {
  display: flex;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  width: 680px;
}
.navWrapper {
  display: flex;
  justify-content: space-between;
}

.returnBtnWrapper {
  width: 40px;
  height: 40px;
  border: none;
  background: #fbe0dc;
  border-radius: 10px;
  margin-right: 10px;
}
.returnBtnImg {
  width: 20px;
  height: 20px;
}
.wrapper {
  width: 610px;
  display: flex;
  justify-content: space-between;
}
.navBarText {
  padding: 5px 30px;
  background: #ff868e;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
  height: 40px;
}
.upoadBtn {
  width: 143px;
  height: 40px;
  background: #fbe0dc;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.uploadIcon {
  width: 16px;
  height: 16px;
}
.uloadBtnText {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 2px;
  color: #ff868e;
  margin-left: 10px;
}
.selectWrapper {
  margin-top: 10px;
  background: #f8f8f7;
  border-radius: 20px;
  padding: 10px 20px;
  padding-bottom: 20px;
}
.navWrapper {
  display: flex;
  flex-direction: row;
}
.label {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.8;
  color: #8c8c8c;
}

.Select {
  width: 290px;
  height: 40px;
  background: #ffffff;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 5px 10px;
}
.orderAndType {
  display: flex;
  margin-bottom: 10px;
}
.breedAndLimit {
  display: flex;
}
.gallery {
  gap: 20px;
  counter-reset: li;
  display: grid;
  grid-auto-rows: 140px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}
.item:nth-child(1) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(4) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item:nth-child(8) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(9) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item:nth-child(11) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(14) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item:nth-child(18) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(19) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item {
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s;
}
.item:hover {
  transform: scale(1.07);
}
.galleryImg {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: right;
  width: 100%;
}
