/* section styles */
.navBar {
  display: flex;
  background: var(--main-white-color);
  border-radius: 20px;
  padding: 20px;
  flex-direction: column;
  width: 680px;
}
.navWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Buttons section styles */
.buttonsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Upload button styles */
.upoadBtn {
  width: 143px;
  height: 40px;
  background: var(--second-pink-color);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px var(--box-shadow);
  transition: all 0.5s;
}
.upoadBtn:hover,
.upoadBtn:focus {
  background-color: var(--main-pink-color);
}
.upoadBtn:hover,
.upoadBtn:focus > .uloadBtnText {
  color: var(--main-white-color);
}
.upoadBtn:hover,
.upoadBtn:focus > .uploadIcon {
  fill: var(--main-white-color);
  transform: scale(1.1);
}
.uploadIcon {
  width: 16px;
  height: 16px;
  fill: var(--main-pink-color);
}
.uloadBtnText {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 2px;
  color: var(--main-pink-color);
  margin-left: 10px;
}

/* Reload page button styles */
.reloadBtnIcon {
  width: 16px;
  height: 16px;
  transition: all 0.5s;
  fill: var(--main-pink-color);
}
.reloadBtn:hover > .reloadBtnIcon,
.reloadBtn:focus > .reloadBtnIcon {
  transform: rotate(360deg);
}
.reloadBtn:hover > .reloadBtnIcon,
.reloadBtn:focus > .reloadBtnIcon {
  fill: var(--main-white-color);
}
.reloadBtn:hover,
.reloadBtn:focus {
  background-color: var(--main-pink-color);
}
.reloadBtn {
  width: 40px;
  height: 40px;
  background: var(--second-pink-color);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px var(--box-shadow);
  margin-left: 10px;
}

/* Selects section styles */
.selectWrapper {
  margin-top: 10px;
  background: var(--bcg-color);
  border-radius: 20px;
  padding: 10px 20px;
  padding-bottom: 20px;
}
.orderAndType {
  display: flex;
  margin-bottom: 10px;
}
.breedAndLimit {
  display: flex;
}

/* Labels styles */
.label {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.8;
  color: var(--second-black-color);
}

/* Select styles */
.Select {
  width: 290px;
  height: 40px;
  background: var(--main-white-color);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px var(--box-shadow);
  padding: 5px 10px;
  outline: none;
}

/* Main list styles */
.gallery {
  gap: 20px;
  counter-reset: li;
  display: grid;
  grid-auto-rows: 140px;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

/* Item styles */
.item:nth-child(1) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(4) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item:nth-child(8) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(9) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item:nth-child(11) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(14) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item:nth-child(18) {
  grid-column: auto/span 1;
  grid-row: auto/span 2;
}
.item:nth-child(19) {
  grid-column: auto/span 2;
  grid-row: auto/span 2;
}
.item {
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.5s;
}
.item:hover,
.item:focus {
  transform: scale(1.07);
}

/* Item image styles */
.galleryImg {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: right;
  width: 100%;
}

/* Loader styles */
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 470px;
}
