/* Sections styles */
.wrapper {
  display: flex;
}

/* Likes link styles */
.linkLikes {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f7;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.linkLikes:hover {
  transform: scale(1.07);
  background: rgba(151, 234, 185, 0.3);
}
.linkLikes:hover > .reactionIcon {
  fill: #97eab9;
}
.reactionIconLikes {
  width: 30px;
  height: 30px;
  fill: #97eab9;
}
/* Likes activlink styles */
.activLike {
  background-color: #97eab9;
}
.activLike > .reactionIconLikes {
  fill: #fff;
}

/* Favourites link styles */
.linkFavourites {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f7;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.linkFavourites:hover {
  transform: scale(1.07);
  background: rgba(255, 134, 142, 0.3);
}
.linkFavourites:hover > .reactionIcon {
  fill: #ff868e;
}
.reactionIconFafourites {
  width: 30px;
  height: 30px;
  fill: #ff868e;
}

/* Likes activlink styles */
.activFavourites {
  background-color: #ff868e;
}
.activFavourites > .reactionIconFafourites {
  fill: #fff;
}

/* Dislike link styles */
.linkDislike {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f7;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.linkDislike:hover {
  transform: scale(1.07);
  background: rgba(255, 210, 128, 0.3);
}
.linkDislike:hover > .reactionIcon {
  fill: #ffd280;
}
.reactionIconDislikes {
  width: 30px;
  height: 30px;
  fill: #ffd280;
}

/* Dislike activlink styles */
.activDislikes {
  background-color: #ffd280;
}
.activDislikes > .reactionIconDislikes {
  fill: #fff;
}
