/* Sections styles */
.wrapper {
  display: flex;
}

/* Likes link styles */
.linkLikes {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bcg-color);
  border-radius: 20px;
  outline: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px var(--box-shadow);
}
.linkLikes:hover,
.linkLikes:focus {
  transform: scale(1.07);
  background: var(--secong-bcg-green-color);
}
.linkLikes:hover > .reactionIcon,
.linkLikes:focus > .reactionIcon {
  fill: var(--breeds-link-bcg);
}
.reactionIconLikes {
  width: 30px;
  height: 30px;
  fill: var(--breeds-link-bcg);
}
/* Likes activlink styles */
.activLike {
  background-color: var(--breeds-link-bcg);
}
.activLike > .reactionIconLikes {
  fill: var(--main-white-color);
}

/* Favourites link styles */
.linkFavourites {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bcg-color);
  border-radius: 20px;
  outline: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px var(--box-shadow);
}
.linkFavourites:hover,
.linkFavourites:focus {
  transform: scale(1.07);
  background: var(--secong-bcg-pink-color);
}
.linkFavourites:hover > .reactionIcon,
.linkFavourites:focus > .reactionIcon {
  fill: var(--main-pink-color);
}
.reactionIconFafourites {
  width: 30px;
  height: 30px;
  fill: var(--main-pink-color);
}

/* Likes activlink styles */
.activFavourites {
  background-color: var(--main-pink-color);
}
.activFavourites > .reactionIconFafourites {
  fill: var(--main-white-color);
}

/* Dislike link styles */
.linkDislike {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bcg-color);
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 4px 4px var(--box-shadow);
}
.linkDislike:hover,
.linkDislike:focus {
  transform: scale(1.07);
  background: var(--secong-bcg-yellow-color);
}
.linkDislike:hover > .reactionIcon,
.linkDislike:focus > .reactionIcon {
  fill: var(--gallery-link-bcg);
}
.reactionIconDislikes {
  width: 30px;
  height: 30px;
  fill: var(--gallery-link-bcg);
}

/* Dislike activlink styles */
.activDislikes {
  background-color: var(--gallery-link-bcg);
}
.activDislikes > .reactionIconDislikes {
  fill: var(--main-white-color);
}
