/* Section styles */
.navBar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: var(--main-white-color);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  width: 680px;
}
.navBarWrapper {
  background: var(--main-white-color);
  border-radius: 10px;
  width: 100%;
}

/* Image styles */
.imageWrapper {
  height: 360px;
  margin-top: 20px;
  height: 710px;
}
.randomCat {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.item {
  border-radius: 20px;
  overflow: hidden;
  height: 400px;
}

/* Information section */
.breedInfornation {
  margin-top: 50px;
  border: 2px solid var(--second-pink-color);
  border-radius: 20px;
  height: 250px;
  position: relative;
}

/* Info list styles */
.list {
  display: flex;
  justify-content: space-around;
}
.titleWrapper {
  min-width: 200px;
  border: 2px solid var(--second-pink-color);
  border-radius: 20px;
  background: var(--main-white-color);
  padding: 5px 40px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  position: absolute;
  left: 5%;
  top: -13%;
}

/* Item styles */
.infoItem {
  width: 40%;
}

/* Name styles */
.name {
  font-size: 36px;
  line-height: 52px;
  color: var(--main-black-color);
}

/* Descriptions styles */
.description {
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  line-height: 29px;
  color: var(--second-black-color);
  overflow: scroll;
  height: 90px;
}

/* Titles styles */
.title {
  font-size: 16px;
  line-height: 23px;
  color: var(--main-black-color);
  margin-bottom: 10px;
}

/* Title spans styles */
.infoDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--second-black-color);
}

/* //Loader styles */
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 710px;
}
